{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.skills %}
  <section class="section skills-section">
    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
      </span>
      Skills & Competencies
    </h2>
    <div class="skills">
      {% for skill in sidebar.skills %}
        <span class="skill-tag">{{ skill }}</span>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
